.feynman {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
  text-align: center;
  align-items: center;
  background-image: url(../../images/feinman.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: left;
}
